:import('../colors.css') {
    triangles: triangles;
    color3: color3;
}

.logo {
    margin: 0 8px 0 0;
    font-family: 'Pattaya', cursive;
    position: relative;
    display: inline-block;
    font-size: 1.2rem;
}

.header {
    z-index: 1;
    color: color3;
    padding:5px 0;
}

.triangle {
    position: fixed;
    z-index: 0;
    background: triangles;
    border-radius: 10px;
}

.userTriangle {
    width: 150px;
    height: 150px;
    transform: rotate(54deg);
    top: -10px;
    right: -123px;
}

.pageTriangle {
    width: 420px;
    height: 420px;
    transform: rotate(54deg);
    top: 140px;
    left: -270px;
}

.content {
    position: relative;
    padding: 10px 15px;
}
