:import('../colors.css') {
    color1: color1;
    color2: color2;
    color2-shadow: color2-shadow;
    color3: color3;
}

.container {
    padding: 100px 20px 0;
    z-index: 1;
    position: relative;
}

.list {
}

.count {
    padding: 10px 12px;
    margin: 0 0 14px;
}

.addNote {
    display: inline-block;
    color: color1;
    background: color2;
    border: 1px solid color2-shadow;
    border-radius: 4px;
    box-shadow: 5px 3px 30px color2-shadow;
    margin: 0 20px 10px 10px;
    width: 120px;
    height: 200px;
    transition: box-shadow 150ms, color 200ms ease-out;
    cursor: pointer;
    outline: none;
}

.addNote:hover {
    box-shadow: 1px 1px 30px color2-shadow;
    color: color3;
}

.addNote:active {
    box-shadow: 1px 1px 10px color2-shadow;
}
