:import('../colors.css') {
    color1: color1;
    color2: color2;
    color2-shadow: color2-shadow;
    color3: color3;
    color5: color5;
    color6: color6;
    color6-lighter: color6-lighter;
    containerBorder: containerBorder;
    containerShadow: containerShadow;
}

.container {
    position: relative;
    display: inline-block;
    width: 200px;
    height: 200px;
    background: color1;
    vertical-align: top;
    margin: 0 20px 20px 10px;
    padding: 15px 12px 10px;
    border: 1px solid containerBorder;
    border-radius: 4px;
    box-shadow: 5px 3px 30px containerShadow;
    cursor: pointer;
    transition: background 200ms ease;
}

.container:hover {
    background: color6;
}

.container:active {
    background: color5;
}

.title {
    margin: 0 0 5px;
}

.info {
    font-size: 0.7rem;
}

.style {
    position: absolute;
    top: -10px;
    left: -10px;
    color: color1;
    background: color2;
    box-shadow: 0 0 4px color2-shadow;
    display: inline-block;
    padding: 2px 5px;
    border-radius: 2px;
    font-size: 0.7rem;
    letter-spacing: 1px;
}

.footer {
    font-size: 0.7rem;
    position: absolute;
    bottom: 6px;
    left: 10px;
    color: color2;
}
