.search {
    position: fixed;
    top: 26px;
    left: 220px;
}

.searchInput {
    color: #070708;
    border-radius: 4px;
    background: #fff;
    border: none;
    font-weight: 300;
    font-size: 0.8rem;
    padding: 7px 10px;
    opacity: 0.4;
    transition: box-shadow 300ms ease-out;
    outline: none;
    width: 50vw;
}

.searchInput:focus {
    box-shadow: 0 0 8px hsl(215, 20%, 80%);
    opacity: 1;
}
