:import('../../colors.css') {
    blue: blue;
    lightblue: lightblue;
    darkpink: darkpink;
}

.note {
    display: inline-block;
    border: 2px solid darkpink;
    border-radius: 5px;
    background: lightblue;

    padding: 2px 6px;
    font-size: 0.8rem;
}

.isSelected {
    border-color: blue;
}
