:export {
    black: #360625;
    magenta: #BBAAC7;
    darkpink: #862662;
    white: #FFF7F3;
    purple: #6785B7;
    blue: #61A2EE;
    lightblue: #b1daf2;
    orange: #CA8E71;
    red: #BE2349;
}
